{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
    <div class="pb-20">
        <div class="card">
  <div class="card-body">

  <div class="form-row">

    <div class="col-7">
      {% if cart %}
      <h4>Customer Name : {{cart.customer}}</h4>
      {% else %}
      <input type="text" class="form-control" placeholder="Customer Name" id="cusName">
      {% endif %}
      
      
      
        <!-- <button type="button" class="btn btn-outline-success" id="createNewVou">Create New Voucher</button> -->
      
      
    </div>
    <div class="col">
      <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target=".add-product-modal">Add Product</button> -->

<div class="modal fade add-product-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Item List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<table class="table table-hover" id="itmlist">
  <thead>
    <tr>
      <th scope="">Item Name</th>
      <th >Price</th>
      <th scope="" class="float-right">Qty</th>
      <th scope=""></th>
    </tr>
  </thead>
  <tbody>
{% for i in itm %}
  <tr>
      <th scope="row">
        
        <span class="itmname">{{i.item_name}}</span>
      </th>
      <td>
       
        <span class="itmprice">{{i.price}}</span>
        <span class="itmid" hidden>{{i.id}}</span>
      </td>
      <td>
        <input type="number" name="iqty" class="form-control w-50 iqty float-right">
      </td>
      <td>
        
        <button type="submit" class="btn btn-success itmAdd">Add</button>
      </td>
    </tr>
{% endfor %}

  </tbody>
</table>
      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    </div>

  </div>
      <hr>

    <table class="table table-hover" id="invitmlist">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"class="text-right">Quantity</th>
      <th scope="col"class="text-right">Rate</th>
      <th scope="col" class="text-right">Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for inv in invitem %}
    <tr>
      <th scope="row">{{inv.item}}</th>
      <td class="text-right">{{inv.qty}}</td>
      <td class="text-right">{{inv.rate}}</td>
      <td class="text-right">{{inv.amount}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
        <h5>{{cart.total}}</h5>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".add-product-modal">Add Product</button>
      </td>
    </tr>
    
    <tr>
      <th scope="row"></th>
      <td></td>
      <td>
        
      </td>
      <td class="text-right">

          <button type="submit" class="btn btn-primary">Create Invoice</button>
      </td>
    </tr>


  </tbody>
</table>
  </div>
</div>

    </div>
</div>






{% endblock content %}